<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <!-- RNF1.1: |DataDirectory| hace que la ruta del .mdf sea portable entre computadoras.
             Program.cs asigna DataDirectory a la carpeta "Data" junto al ejecutable. -->
        <add name="TaskDBConnection"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TaskDB.mdf;Integrated Security=True;Connect Timeout=30"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
